<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザーリスト</title>
<link rel="stylesheet" th:href="@{/css/search.css}" />
</head>
<body>
<h1>ユーザーリスト</h1>


<th:block th:each="user : ${userList}">

<table border=1 class="user_list">

	
	<tr><td>
		<img th:if="${user.userI.img > 0}" th:src="@{/imgs/{id}/img1.jpg(id=${user.id})}" alt=""  height="210px">
		<img th:if="${user.userI.img == 0}" th:src="@{/img/noimage.jpg}" alt=""  height="210px">
	</td></tr>
	<tr><td>[[${user.userBD.age}]]歳 [[${user.userRD.residenceStr}]]</td></tr>
	<th:block th:if="${user.userT.oneWord !=''}"><tr><td>[[${user.userT.oneWord}]]</td></tr></th:block>


</table>

</th:block>

<p><a th:href="@{/}">トップページへ戻る</a></p>
<p><a th:href="@{/logout}">ログアウト</a></p>

</body>
</html>