<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MatchingMapper">

<select id="checkRowOfMine" resultType="integer">
	SELECT COUNT(id) FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>

<select id="checkRowOfPartners" resultType="integer">
	SELECT COUNT(id) FROM z#{partnersId}_matchings WHERE id=#{myId} 
</select>



<insert id="createRowOfMine" parameterType="integer">
	INSERT INTO z#{myId}_matchings (id) VALUES (#{partnersId})
</insert>

<insert id="createRowOfPartners" parameterType="integer">
	INSERT INTO z#{partnersId}_matchings (id) VALUES (#{myId})
</insert>



<update id="addSendedNiceOfMine" parameterType="integer">
	UPDATE z#{myId}_matchings SET sended_nice=1
	WHERE id=#{partnersId}
</update>

<update id="addReceivedNiceOfPartners" parameterType="integer">
	UPDATE z#{partnersId}_matchings SET received_nice=1
	WHERE id=#{myId}
</update>




<select id="checkSendedNiceOfMine" resultType="integer">
	SELECT sended_nice FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>

<select id="checkReceivedNiceOfMine" resultType="integer">
	SELECT received_nice FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>



<update id="addMatchingOfMine" parameterType="integer">
	UPDATE z#{myId}_matchings SET matching=1, favorite=0
	WHERE id=#{partnersId}
</update>

<update id="addMatchingOfPartners" parameterType="integer">
	UPDATE z#{partnersId}_matchings SET matching=1, favorite=0
	WHERE id=#{myId}
</update>

<select id="checkMatchingOfMine" resultType="integer">
	SELECT matching FROM z#{myId}_matchings WHERE id=#{partnersId}
</select>

<select id="checkMatchingOfPartners" resultType="integer">
	SELECT matching FROM z#{partnersId}_matchings WHERE id=#{myId}
</select>

<select id="checkNotMatchingAndReceivedNiceOfMineIngtegerList" resultType="integer">
	SELECT id FROM z#{myId}_matchings WHERE matching=0 AND received_nice=1 AND checked_received_nice=0
</select>

<select id="checkNotMatchingAndReceivedNiceOfMine" resultType="integer">
	SELECT checked_received_nice FROM z#{myId}_matchings WHERE received_nice=1 AND checked_received_nice=#{checkCheckedReceivedNice} AND id=#{partnersId}
</select>

<select id="newReceivedNiceList" resultMap="matchingMap" parameterType="integer">
	SELECT z#{myId}_matchings.id, age, one_word, img, residences.residence
    FROM z#{myId}_matchings
	LEFT JOIN user_basic_details ON z#{myId}_matchings.id=user_basic_details.id
    LEFT JOIN user_required_details ON z#{myId}_matchings.id=user_required_details.id
	LEFT JOIN user_texts ON z#{myId}_matchings.id=user_texts.id
	LEFT JOIN imgs ON z#{myId}_matchings.id=imgs.id
    LEFT JOIN residences ON user_required_details.residence=residences.id
    WHERE received_nice=1 AND checked_received_nice=0
</select>

<resultMap id="matchingMap" type="com.example.app.domain.User">
	<id column = "id" property="id"/>
	
	<association property="userBD" javaType="com.example.app.domain.UserBasicDetail">
		<result column="age" property="age"/>
	</association>
	
	<association property="userRD" javaType="com.example.app.domain.UserRequiredDetail">
		<result column="residence" property="residenceStr"/>
	</association>
	
	<association property="userT" javaType="com.example.app.domain.UserText">
		<result column="one_word" property="oneWord"/>
	</association>
	
	<association property="userI" javaType="com.example.app.domain.UserImage">
		<result column="img" property="img"/>
	</association>
</resultMap>

<update id="updateCheckedReceivedNiceOfMine" parameterType="integer">
	UPDATE z#{myId}_matchings SET checked_received_nice=1 WHERE id=#{partnersId}
</update>

<select id="checkCheckedReceivedNice" parameterType="integer" resultType="integer">
	SELECT checked_received_nice FROM z#{myId}_matchings WHERE id=#{partnersId}
</select>

<select id="checkMatchingList" parameterType="integer" resultMap="matchingMap" >
	SELECT z#{myId}_matchings.id, age, one_word, img, residences.residence
    FROM z#{myId}_matchings
	LEFT JOIN user_basic_details ON z#{myId}_matchings.id=user_basic_details.id
    LEFT JOIN user_required_details ON z#{myId}_matchings.id=user_required_details.id
	LEFT JOIN user_texts ON z#{myId}_matchings.id=user_texts.id
	LEFT JOIN imgs ON z#{myId}_matchings.id=imgs.id
    LEFT JOIN residences ON user_required_details.residence=residences.id
    WHERE matching=1
</select>

<update id="addFavorite" parameterType="integer">
	UPDATE z#{myId}_matchings SET favorite=1 WHERE id=#{partnersId}
</update>

<select id="checkFavorite" resultType="integer" parameterType="integer">
	SELECT favorite FROM z#{myId}_matchings WHERE id=#{partnersId}
</select>

<select id="checkFavoriteList" parameterType="integer" resultMap="matchingMap" >
	SELECT z#{myId}_matchings.id, age, one_word, img, residences.residence
    FROM z#{myId}_matchings
	LEFT JOIN user_basic_details ON z#{myId}_matchings.id=user_basic_details.id
    LEFT JOIN user_required_details ON z#{myId}_matchings.id=user_required_details.id
	LEFT JOIN user_texts ON z#{myId}_matchings.id=user_texts.id
	LEFT JOIN imgs ON z#{myId}_matchings.id=imgs.id
    LEFT JOIN residences ON user_required_details.residence=residences.id
    WHERE favorite=1
</select>

<update id="cancelFavorite" parameterType="integer">
	UPDATE z#{myId}_matchings SET favorite=0 WHERE id=#{partnersId}
</update>

<select id="checkNotMatchingAndReceivedNiceOfMineList" resultMap="matchingMap">
	SELECT z#{myId}_matchings.id, age, one_word, img, residences.residence
	FROM z#{myId}_matchings 
	LEFT JOIN user_basic_details ON z#{myId}_matchings.id=user_basic_details.id
    LEFT JOIN user_required_details ON z#{myId}_matchings.id=user_required_details.id
	LEFT JOIN user_texts ON z#{myId}_matchings.id=user_texts.id
	LEFT JOIN imgs ON z#{myId}_matchings.id=imgs.id
    LEFT JOIN residences ON user_required_details.residence=residences.id
	WHERE matching=0 AND received_nice=1
</select>

<select id="checkNotMatchingAndSendedNiceOfMineList" resultMap="matchingMap">
	SELECT z#{myId}_matchings.id, age, one_word, img, residences.residence
	FROM z#{myId}_matchings 
	LEFT JOIN user_basic_details ON z#{myId}_matchings.id=user_basic_details.id
    LEFT JOIN user_required_details ON z#{myId}_matchings.id=user_required_details.id
	LEFT JOIN user_texts ON z#{myId}_matchings.id=user_texts.id
	LEFT JOIN imgs ON z#{myId}_matchings.id=imgs.id
    LEFT JOIN residences ON user_required_details.residence=residences.id
	WHERE matching=0 AND sended_nice=1
</select>

<select id="getMessage" resultMap="messageMap">
	SELECT id, message, from_id,
		to_id, checked_message,sent_time
	FROM messages 
	WHERE from_id=#{myId} AND to_id=#{partnersId} or from_id=#{partnersId} AND to_id=#{myId};
</select>

<resultMap id="messageMap" type="com.example.app.domain.Message">
	<id column = "id" property="id"/>
	<result column="from_id" property="fromId"/>
	<result column="to_id" property="toId"/>
	<result column="message" property="message"/>
	<result column="checked_message" property="checkedMessage"/>
	<result column="sent_time" property="sentTime"/>
</resultMap>

</mapper>