<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.MatchingMapper">

<select id="checkRowOfMe" resultType="integer">
	SELECT COUNT(id) FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>

<select id="checkRowOfPartners" resultType="integer">
	SELECT COUNT(id) FROM z#{partnersId}_matchings WHERE id=#{myId} 
</select>



<insert id="createRowOfMe" parameterType="integer">
	INSERT INTO z#{myId}_matchings (id) VALUES (#{partnersId})
</insert>

<insert id="createRowOfPartners" parameterType="integer">
	INSERT INTO z#{partnersId}_matchings (id) VALUES (#{myId})
</insert>



<update id="addSendedNiceOfMe" parameterType="integer">
	UPDATE z#{myId}_matchings SET sended_nice=1
	WHERE id=#{partnersId}
</update>

<update id="addReceivedNiceOfPartners" parameterType="integer">
	UPDATE z#{partnersId}_matchings SET received_nice=1
	WHERE id=#{myId}
</update>




<select id="checkSendedNiceOfMe" resultType="integer">
	SELECT sended_nice FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>

<select id="checkReceivedNiceOfMe" resultType="integer">
	SELECT received_nice FROM z#{myId}_matchings WHERE id=#{partnersId} 
</select>



<update id="addMatchingOfMe" parameterType="integer">
	UPDATE z#{myId}_matchings SET matching=1
	WHERE id=#{partnersId}
</update>

<update id="addMatchingOfPartners" parameterType="integer">
	UPDATE z#{partnersId}_matchings SET matching=1
	WHERE id=#{myId}
</update>

<select id="checkMatchingOfMe" resultType="integer">
	SELECT matching FROM z#{myId}_matchings WHERE id=#{partnersId}
</select>

<select id="checkMatchingOfPartners" resultType="integer">
	SELECT matching FROM z#{partnersId}_matchings WHERE id=#{myId}
</select>



</mapper>