<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.RegistMapper">

	<insert id="insertUserRole" parameterType="String">
		INSERT INTO user_roles
		(user_id, role_id)
		VALUES (#{id}, 1)
	</insert>

	<update id="createTable" parameterType="String">
		CREATE TABLE z${id}_matchings
		(id INT PRIMARY KEY,
		matching INT DEFAULT 0,
		favorite INT DEFAULT 0,
		sended_nice INT DEFAULT 0,
		received_nice INT DEFAULT 0,
		blocking INT DEFAULT 0,
		checked_received_nice INT DEFAULT 0,
		not_read_message INT DEFAULT 0)
	</update>
	
	<insert id="createCheckedNewMessage">
		INSERT INTO new_messages (checked_new_message) VALUES (0)
	</insert>

</mapper>