<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.SearchMapper">

	<!-- selectUserAllDetailList ここから -->

	<resultMap id="usersResult"
		type="com.example.app.domain.User">
		<id column="id" property="id" />

		<association property="userBD"
			javaType="com.example.app.domain.UserBasicDetail">
			<result column="age" property="age" />
			<result column="sex" property="sex" />
		</association>

		<association property="userRD"
			javaType="com.example.app.domain.UserRequiredDetail">
			<result column="height" property="height" />
			<result column="residence" property="residence" />
			<result column="residence_str" property="residenceStr" />
			<result column="occupation" property="occupation" />
			<result column="occupation_str" property="occupationStr" />
			<result column="annual_income" property="annualIncome" />
			<result column="annual_income_str" property="annualIncomeStr" />
			<result column="marital_status" property="maritalStatus" />
			<result column="marital_status_str"
				property="maritalStatusStr" />
			<result column="desire_to_marry" property="desireToMarry" />
			<result column="desire_to_marry_str"
				property="desireToMarryStr" />
			<result column="holiday" property="holiday" />
			<result column="holiday_str" property="holidayStr" />
			<result column="smoking" property="smoking" />
			<result column="smoking_str" property="smokingStr" />
			<result column="housemate" property="housemate" />
			<result column="housemate_str" property="housemateStr" />
		</association>

		<association property="userFD"
			javaType="com.example.app.domain.UserFreeDetail">
			<result column="figure" property="figure" />
			<result column="figure_str" property="figureStr" />
			<result column="blood_type" property="bloodType" />
			<result column="blood_type_str" property="bloodTypeStr" />
			<result column="birth_place" property="birthPlace" />
			<result column="birth_place_str" property="birthPlaceStr" />
			<result column="educational" property="educational" />
			<result column="educational_str" property="educationalStr" />
			<result column="sibling" property="sibling" />
			<result column="sibling_str" property="siblingStr" />
			<result column="school_name" property="schoolName" />
			<result column="job_name" property="jobName" />
			<result column="have_children" property="haveChildren" />
			<result column="have_children_str" property="haveChildrenStr" />
			<result column="desire_to_getchild"
				property="desireToGetchild" />
			<result column="desire_to_getchild_str"
				property="desireToGetchildStr" />
			<result column="housework" property="housework" />
			<result column="housework_str" property="houseworkStr" />
			<result column="time_to_meet" property="timeToMeet" />
			<result column="time_to_meet_str" property="timeToMeetStr" />
			<result column="payment" property="payment" />
			<result column="payment_str" property="paymentStr" />
			<result column="sociability" property="sociability" />
			<result column="sociability_str" property="sociabilityStr" />
			<result column="alcohol" property="alcohol" />
			<result column="alcohol_str" property="alcoholStr" />
			<result column="hobby_one" property="hobbyOne" />
			<result column="hobby_two" property="hobbyTwo" />
			<result column="hobby_three" property="hobbyThree" />
			<result column="vaccination" property="vaccination" />
			<result column="vaccination_str" property="vaccinationStr" />
		</association>

		<association property="userT"
			javaType="com.example.app.domain.UserText">
			<result column="one_word" property="oneWord" />
			<result column="self_introduction" property="selfIntroduction" />
		</association>

		<association property="userI"
			javaType="com.example.app.domain.UserImage">
			<result column="img" property="img" />
		</association>

	</resultMap>


	<select id="searchUserAllDetailList"
		parameterType="com.example.app.domain.UserBasicDetail"
		resultMap="usersResult">
		SELECT
		users.id,

		user_basic_details.age,
		user_basic_details.sex,
		user_basic_details.name,

		user_required_details.height,
		user_required_details.residence,
		user_required_details.occupation,
		user_required_details.annual_income,
		user_required_details.marital_status,
		user_required_details.desire_to_marry,
		user_required_details.holiday,
		user_required_details.smoking,
		user_required_details.housemate,

		user_free_details.figure,
		user_free_details.blood_type,
		user_free_details.birth_place,
		user_free_details.educational,
		user_free_details.sibling,
		user_free_details.school_name,
		user_free_details.job_name,
		user_free_details.have_children,
		user_free_details.desire_to_getchild,
		user_free_details.housework,
		user_free_details.time_to_meet,
		user_free_details.payment,
		user_free_details.sociability,
		user_free_details.alcohol,
		user_free_details.hobby_one,
		user_free_details.hobby_two,
		user_free_details.hobby_three,
		user_free_details.vaccination,

		residences.residence AS residence_str,
		occupations.occupation AS occupation_str,
		annual_incomes.annual_income AS annual_income_str,
		marital_statuses.marital_status AS marital_str,
		desire_to_marries.desire_to_marry AS desire_to_marry_str,
		holidays.holiday AS holiday_str,
		smokings.smoking AS smoking_str,
		housemates.housemate AS housemate_str,

		figures.figure AS figure_str,
		blood_types.blood_type AS blood_type_str,
		birth_places.birth_place AS birth_place_str,
		educationals.educational AS educational_str,
		siblings.sibling AS sibling_str,
		have_childrens.have_children AS have_children_str,
		desire_to_getchilds.desire_to_getchild AS desire_to_getochild_str,
		houseworks.housework AS housework_str,
		time_to_meets.time_to_meet AS time_to_meet_str,
		payments.payment AS payment_str,
		sociabilities.sociability AS sociabilitty_str,
		alcohols.alcohol AS alcohol_str,
		hobby_one,
		hobby_two,
		hobby_three,
		vaccinations.vaccination AS vaccination_str,

		user_texts.one_word AS one_word,
		user_texts.self_introduction AS self_introduction,

		imgs.img

		FROM users
		LEFT JOIN user_basic_details ON users.id = user_basic_details.id
		LEFT JOIN
		user_free_details ON users.id = user_free_details.id
		LEFT JOIN user_required_details ON users.id = user_required_details.id
		LEFT JOIN user_texts ON users.id = user_texts.id
		LEFT JOIN imgs ON
		users.id = imgs.id

		LEFT JOIN residences ON user_required_details.residence = residences.id
		LEFT JOIN occupations ON user_required_details.occupation =
		occupations.id
		LEFT JOIN annual_incomes ON user_required_details.annual_income =
		annual_incomes.id
		LEFT JOIN marital_statuses ON user_required_details.marital_status =
		marital_statuses.id
		LEFT JOIN desire_to_marries ON user_required_details.desire_to_marry =
		desire_to_marries.id
		LEFT JOIN holidays ON user_required_details.holiday = holidays.id
		LEFT JOIN smokings ON user_required_details.smoking = smokings.id
		LEFT JOIN housemates ON user_required_details.housemate = housemates.id

		LEFT JOIN figures ON user_free_details.figure = figures.id
		LEFT JOIN blood_types ON user_free_details.blood_type = blood_types.id
		LEFT JOIN birth_places ON user_free_details.birth_place =
		birth_places.id
		LEFT JOIN educationals ON user_free_details.educational = educationals.id
		LEFT JOIN siblings ON user_free_details.sibling = siblings.id
		LEFT JOIN have_childrens ON user_free_details.have_children =
		have_childrens.id
		LEFT JOIN desire_to_getchilds ON user_free_details.desire_to_getchild =
		desire_to_getchilds.id
		LEFT JOIN houseworks ON user_free_details.housework = houseworks.id
		LEFT JOIN time_to_meets ON user_free_details.time_to_meet =
		time_to_meets.id
		LEFT JOIN payments ON user_free_details.payment = payments.id
		LEFT JOIN sociabilities ON user_free_details.sociability =
		sociabilities.id
		LEFT JOIN alcohols ON user_free_details.alcohol = alcohols.id
		LEFT JOIN vaccinations ON user_free_details.vaccination = vaccinations.id

		<where>
			<choose>
				<when test="sex == 1">user_basic_details.sex = 2</when>
				<when test="sex == 2">user_basic_details.sex = 1</when>
			</choose>
		</where>

		ORDER BY id DESC


	</select>






	<resultMap id="usersResultDetail"
		type="com.example.app.domain.User">
		<id column="id" property="id" />

		<association property="userBD"
			javaType="com.example.app.domain.UserBasicDetail">
			<result column="age" property="age" />
			<result column="sex" property="sex" />
		</association>

		<association property="userRD"
			javaType="com.example.app.domain.UserRequiredDetail">
			<result column="height" property="height" />
			<result column="residence" property="residence" />
			<result column="residence_str" property="residenceStr" />
			<result column="occupation" property="occupation" />
			<result column="occupation_str" property="occupationStr" />
			<result column="annual_income" property="annualIncome" />
			<result column="annual_income_price"
				property="annualIncomePrice" />
			<result column="annual_income_str" property="annualIncomeStr" />
			<result column="marital_status" property="maritalStatus" />
			<result column="marital_status_str"
				property="maritalStatusStr" />
			<result column="desire_to_marry" property="desireToMarry" />
			<result column="desire_to_marry_str"
				property="desireToMarryStr" />
			<result column="holiday" property="holiday" />
			<result column="holiday_str" property="holidayStr" />
			<result column="smoking" property="smoking" />
			<result column="smoking_str" property="smokingStr" />
			<result column="housemate" property="housemate" />
			<result column="housemate_str" property="housemateStr" />
		</association>

		<association property="userFD"
			javaType="com.example.app.domain.UserFreeDetail">
			<result column="figure" property="figure" />
			<result column="figure_str" property="figureStr" />
			<result column="blood_type" property="bloodType" />
			<result column="blood_type_str" property="bloodTypeStr" />
			<result column="birth_place" property="birthPlace" />
			<result column="birth_place_str" property="birthPlaceStr" />
			<result column="educational" property="educational" />
			<result column="educational_str" property="educationalStr" />
			<result column="sibling" property="sibling" />
			<result column="sibling_str" property="siblingStr" />
			<result column="school_name" property="schoolName" />
			<result column="job_name" property="jobName" />
			<result column="have_children" property="haveChildren" />
			<result column="have_children_str" property="haveChildrenStr" />
			<result column="desire_to_getchild"
				property="desireToGetchild" />
			<result column="desire_to_getchild_str"
				property="desireToGetchildStr" />
			<result column="housework" property="housework" />
			<result column="housework_str" property="houseworkStr" />
			<result column="time_to_meet" property="timeToMeet" />
			<result column="time_to_meet_str" property="timeToMeetStr" />
			<result column="payment" property="payment" />
			<result column="payment_str" property="paymentStr" />
			<result column="sociability" property="sociability" />
			<result column="sociability_str" property="sociabilityStr" />
			<result column="alcohol" property="alcohol" />
			<result column="alcohol_str" property="alcoholStr" />
			<result column="hobby_one" property="hobbyOne" />
			<result column="hobby_two" property="hobbyTwo" />
			<result column="hobby_three" property="hobbyThree" />
			<result column="vaccination" property="vaccination" />
			<result column="vaccination_str" property="vaccinationStr" />
		</association>

		<association property="userT"
			javaType="com.example.app.domain.UserText">
			<result column="one_word" property="oneWord" />
			<result column="self_introduction" property="selfIntroduction" />
		</association>

		<association property="userI"
			javaType="com.example.app.domain.UserImage">
			<result column="img" property="img" />
		</association>

	</resultMap>


	<select id="searchUserAllDetailListDetail"
		parameterType="com.example.app.domain.User"
		resultMap="usersResultDetail">
		SELECT
		users.id,

		user_basic_details.age,
		user_basic_details.sex,
		user_basic_details.name,

		user_required_details.height,
		user_required_details.residence,
		user_required_details.occupation,
		user_required_details.annual_income,
		user_required_details.marital_status,
		user_required_details.desire_to_marry,
		user_required_details.holiday,
		user_required_details.smoking,
		user_required_details.housemate,

		user_free_details.figure,
		user_free_details.blood_type,
		user_free_details.birth_place,
		user_free_details.educational,
		user_free_details.sibling,
		user_free_details.school_name,
		user_free_details.job_name,
		user_free_details.have_children,
		user_free_details.desire_to_getchild,
		user_free_details.housework,
		user_free_details.time_to_meet,
		user_free_details.payment,
		user_free_details.sociability,
		user_free_details.alcohol,
		user_free_details.hobby_one,
		user_free_details.hobby_two,
		user_free_details.hobby_three,
		user_free_details.vaccination,

		residences.residence AS residence_str,
		occupations.occupation AS occupation_str,
		annual_incomes.annual_income AS annual_income_str,
		annual_incomes.annual_income_price AS annual_income_price,
		marital_statuses.marital_status AS marital_str,
		desire_to_marries.desire_to_marry AS desire_to_marry_str,
		holidays.holiday AS holiday_str,
		smokings.smoking AS smoking_str,
		housemates.housemate AS housemate_str,

		figures.figure AS figure_str,
		blood_types.blood_type AS blood_type_str,
		birth_places.birth_place AS birth_place_str,
		educationals.educational AS educational_str,
		siblings.sibling AS sibling_str,
		have_childrens.have_children AS have_children_str,
		desire_to_getchilds.desire_to_getchild AS desire_to_getochild_str,
		houseworks.housework AS housework_str,
		time_to_meets.time_to_meet AS time_to_meet_str,
		payments.payment AS payment_str,
		sociabilities.sociability AS sociabilitty_str,
		alcohols.alcohol AS alcohol_str,
		hobby_one,
		hobby_two,
		hobby_three,
		vaccinations.vaccination AS vaccination_str,

		user_texts.one_word,
		user_texts.self_introduction,

		imgs.img

		FROM users
		LEFT JOIN user_basic_details ON users.id = user_basic_details.id
		LEFT JOIN
		user_free_details ON users.id = user_free_details.id
		LEFT JOIN user_required_details ON users.id = user_required_details.id
		LEFT JOIN user_texts ON users.id = user_texts.id
		LEFT JOIN imgs ON
		users.id = imgs.id

		LEFT JOIN residences ON user_required_details.residence = residences.id
		LEFT JOIN occupations ON user_required_details.occupation =
		occupations.id
		LEFT JOIN annual_incomes ON user_required_details.annual_income =
		annual_incomes.id
		LEFT JOIN marital_statuses ON user_required_details.marital_status =
		marital_statuses.id
		LEFT JOIN desire_to_marries ON user_required_details.desire_to_marry =
		desire_to_marries.id
		LEFT JOIN holidays ON user_required_details.holiday = holidays.id
		LEFT JOIN smokings ON user_required_details.smoking = smokings.id
		LEFT JOIN housemates ON user_required_details.housemate = housemates.id

		LEFT JOIN figures ON user_free_details.figure = figures.id
		LEFT JOIN blood_types ON user_free_details.blood_type = blood_types.id
		LEFT JOIN birth_places ON user_free_details.birth_place =
		birth_places.id
		LEFT JOIN educationals ON user_free_details.educational = educationals.id
		LEFT JOIN siblings ON user_free_details.sibling = siblings.id
		LEFT JOIN have_childrens ON user_free_details.have_children =
		have_childrens.id
		LEFT JOIN desire_to_getchilds ON user_free_details.desire_to_getchild =
		desire_to_getchilds.id
		LEFT JOIN houseworks ON user_free_details.housework = houseworks.id
		LEFT JOIN time_to_meets ON user_free_details.time_to_meet =
		time_to_meets.id
		LEFT JOIN payments ON user_free_details.payment = payments.id
		LEFT JOIN sociabilities ON user_free_details.sociability =
		sociabilities.id
		LEFT JOIN alcohols ON user_free_details.alcohol = alcohols.id
		LEFT JOIN vaccinations ON user_free_details.vaccination = vaccinations.id

		<where>
			<choose>
				<when test="userBD.sex = 1">user_basic_details.sex=2</when>
				<when test="userBD.sex = 2">user_basic_details.sex=1</when>
			</choose>
			<if test="userRD.residence != null">
				AND user_required_details.residence = #{userRD.residence}
			</if>
			<if test="userBD.ageMin != null">
				AND age <![CDATA[ >= ]]>
				#{userBD.ageMin}
			</if>
			<if test="userBD.ageMax != null">
				AND age <![CDATA[ <= ]]>
				#{userBD.ageMax}
			</if>
			<if test="userRD.heightMin != null">
				AND height <![CDATA[ >= ]]>
				#{userRD.heightMin}
			</if>
			<if test="userRD.heightMax != null">
				AND height <![CDATA[ <= ]]>
				#{userRD.heightMax}
			</if>
			<if test="userFD.figure != null">
				AND user_free_details.figure = #{userFD.figure}
			</if>
			<if test="userRD.occupation != null">
				AND user_required_details.occupation =
				#{userRD.occupation}
			</if>
			<if test="userRD.annualIncomeMin != null">
				AND annual_income_price <![CDATA[ >= ]]>
				#{userRD.annualIncomeMin}
			</if>
			<if test="userRD.annualIncomeMax != null">
				AND annual_income_price <![CDATA[ <= ]]>
				#{userRD.annualIncomeMax}
			</if>
			<if test="userRD.holiday != null">
				AND user_required_details.holiday = #{userRD.holiday}
			</if>
			<if test="userFD.educational != null">
				AND user_free_details.educational = #{userFD.educational}
			</if>
			<if test="userFD.birthPlace != null">
				AND user_free_details.birth_place = #{userFD.birthPlace}
			</if>
			<if test="userRD.housemate != null">
				AND user_required_details.housemate = #{userRD.housemate}
			</if>
			<if test="userFD.sociability != null">
				AND user_free_details.sociability = #{userFD.sociability}
			</if>
			<if test="userRD.smoking != null">
				AND user_required_details.smoking = #{userRD.smoking}
			</if>
			<if test="userFD.alcohol != null">
				AND user_free_details.alcohol = #{userFD.alcohol}
			</if>
			<if test="userRD.desireToMarry != null">
				AND user_required_details.desire_to_marry =
				#{userRD.desireToMarry}
			</if>
			<if test="userFD.desireToGetchild != null">
				AND user_free_details.desire_to_getchild =
				#{userFD.desireToGetchild}
			</if>
			<if test="userFD.housework != null">
				AND user_free_details.housework = #{userFD.housework}
			</if>
			<if test="userRD.maritalStatus != null">
				AND user_required_details.marital_status =
				#{userRD.maritalStatus}
			</if>
			<if test="userFD.haveChildren != null">
				AND user_free_details.have_children =
				#{userFD.haveChildren}
			</if>
			<if test="userFD.timeToMeet != null">
				AND user_free_details.time_to_meet = #{userFD.timeToMeet}
			</if>
			<if test="userFD.payment != null">
				AND user_free_details.payment = #{userFD.payment}
			</if>


		</where>

		ORDER BY id DESC


	</select>

	<!-- selectUserAllDetailList ここまで -->

</mapper>