<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.SearchMapper">

	<!-- selectUserAllDetailList ここから -->
	
	<resultMap id="usersResult" type="com.example.app.domain.User">
		<id column="id" property="id" />
		
		<association property="userBD" javaType="com.example.app.domain.UserBasicDetail">
			<result column="age" property="age"/>
		</association>
		
		<association property="userRD" javaType="com.example.app.domain.UserRequiredDetail">
			<result column="residence" property="residenceStr"/>
		</association> 
		
		<association property="userT" javaType="com.example.app.domain.UserText">
			<result column="one_word" property="oneWord"/>
			<result column="self_introduction" property="selfIntroduction"/>
		</association>
		
		<association property="userI" javaType="com.example.app.domain.UserImage">
			<result column="img" property="img"/>
		</association>

	</resultMap>
	
	
	<select id="searchUserAllDetailList" parameterType="int" resultMap="usersResult">
		SELECT 
			users.id, 
			user_basic_details.age, 
			residences.residence,
			user_texts.one_word,
            user_texts.self_introduction,
            imgs.img
			
		FROM users 
		LEFT JOIN user_basic_details ON users.id = user_basic_details.id
        LEFT JOIN user_required_details ON users.id = user_required_details.id
		LEFT JOIN user_texts ON users.id = user_texts.id
		LEFT JOIN imgs ON users.id = imgs.id
		
		LEFT JOIN residences ON user_required_details.residence = residences.id
			
		WHERE user_basic_details.sex = <choose>
											<when test="sex == 1">2</when>
											<when test="sex == 2">1</when>
									   </choose>
			
			 
	</select>
	
	<!-- selectUserAllDetailList ここまで -->
	
</mapper>