<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserMapper">
	
	<resultMap id="userResult" type="com.example.app.domain.User" autoMapping="true">
		<result column = "email" property="email"/>
		<result column = "sex" property="sexStr"/>
		<result column = "age" property="age"/>
		<result column = "name" property="name"/>
		<result column = "like_point" property="likePoint"/>
		<result column = "member_status" property="memberStatusStr"/>
		<result column = "registed" property="registed"/>
		<association property="userRD" javaType="com.example.app.domain.UserRequiredDetail">
			<result column = "height" property="height"/>
			<result column = "residence" property="residenceStr"/>
			<result column = "occupation" property="occupationStr"/>
			<result column = "annual_income" property="annualIncomeStr"/>
			<result column = "marital_status" property="maritalStatusStr"/>
			<result column = "desire_to_marry" property="desireToMarryStr"/>
			<result column = "holiday" property="holidayStr"/>
			<result column = "smoking" property="smokingStr"/>
			<result column = "housemate" property="housemateStr"/>
		</association>
		
		<!--
		<association property="userFD" javaType="com.example.app.domain.UserFreeDetail">
			<result column = "birth_place" property="birthPlaceStr"/>
			<result column = "educational" property="educationalStr"/>
			<result column = "sibling" property="siblingStr"/>
			<result column = "school_name" property="schoolNameStr"/>
			<result column = "job_name" property="jobNameStr"/>
			<result column = "have_children" property="have_childrenStr"/>
			<result column = "desire_to_getchild" property="desireToGetchildStr"/>
			<result column = "housework" property="houseworkStr"/>
			<result column = "time_to_meet" property="timeToMeetStr"/>
			<result column = "payment" property="paymentStr"/>
			<result column = "character_type" property="characterTypeStr"/>
			<result column = "sociability" property="sociabilityStr"/>
			<result column = "alcohol" property="alcoholStr"/>
			<result column = "hobby1" property="hobby1Str"/>
			<result column = "hobby2" property="hobby2Str"/>
			<result column = "hobby3" property="hobby3Str"/>
			<result column = "vaccination" property="vaccinationStr"/>
		</association> 
		-->
	</resultMap>
	
	
	<select id="selectAll" resultMap="userResult">
		SELECT 
			users.id, 
			users.email, 
			sexs.sex, 
			users.age, 
			users.name, 
			users.like_point, 
			member_statuses.member_status, 
			users.registed,
			height,
			residences.residence, 
			occupations.occupation AS occupation,
			annual_incomes.annual_income AS annual_income,
			marital_statuses.marital_status AS marital_status,
			desire_to_marries.desire_to_marry AS desire_to_marry,
			holidays.holiday AS holiday,
			smokings.smoking AS smoking,
			housemates.housemate AS housemate
			
			<!-- 
			figures.figure AS figure,
			blood_types.blood_type AS blood_type,
			birth_places.prefecture AS birth_place,
			educationals.educational AS educational,
			siblings.sibling AS sibling,
			have_childrens.have_children AS have_children,
			desire_to_getchilds.desire_to_getchild AS desire_to_getchild,
			houseworks.housework AS housework,
			time_to_meets.time_to_meet AS time_to_meet,
			payments.payment AS payment,
			sociabilities.sociability AS sociability,
			alcohols.alcohol AS alcohol,
			vaccinations.vaccination AS vaccinaitons
			 -->
		FROM users
		LEFT JOIN user_required_details ON users.id = user_required_details.id
			LEFT JOIN sexs ON users.sex = sexs.id
			LEFT JOIN member_statuses ON users.member_status = member_statuses.id
			LEFT JOIN residences ON user_required_details.residence = residences.id
			LEFT JOIN occupations ON user_required_details.occupation = occupations.id
			LEFT JOIN annual_incomes ON user_required_details.annual_income = annual_incomes.id
			LEFT JOIN marital_statuses ON user_required_details.marital_status = marital_statuses.id
			LEFT JOIN desire_to_marries ON user_required_details.desire_to_marry = desire_to_marries.id
			LEFT JOIN holidays ON user_required_details.holiday = holidays.id
			LEFT JOIN smokings ON user_required_details.smoking = smokings.id
			LEFT JOIN housemates ON user_required_details.housemate = housemates.id
	
			<!-- 
			LEFT JOIN figures ON user_free_details.figure = figures.id
			LEFT JOIN blood_types ON user_free_details.blood_type = blood_types.id
			LEFT JOIN birth_places ON user_free_details.birth_place = birth_places.id
			LEFT JOIN educationals ON user_free_details.educational = educationals.id
			LEFT JOIN siblings ON user_free_details.sibling = siblings.id
			LEFT JOIN have_childrens ON user_free_details.have_children = have_childrens.id
			LEFT JOIN desire_to_getchilds ON user_free_details.desire_to_getchild = desire_to_getchilds.id
			LEFT JOIN houseworks ON user_free_details.housework = houseworks.id
			LEFT JOIN time_to_meets ON user_free_details.time_to_meet = time_to_meets.id
			LEFT JOIN payments ON user_free_details.payment = payments.id
			LEFT JOIN sociabilities ON user_free_details.sociability = sociabilities.id
			LEFT JOIN alcohols ON user_free_details.alcohol = alcohols.id
			LEFT JOIN vaccinations ON user_free_details.vaccination = vaccinations.id
			 -->
			 
	</select>
	
	<insert id="insertUser" parameterType="com.example.app.domain.User">
		INSERT INTO users (email, sex, age, name, registed)
		VALUES (#{email}, #{sex}, #{age}, #{name}, NOW())
	</insert>
	
</mapper>
