<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.app.mapper.UserImageMapper">

	<select id="countPartnersImg" parameterType="integer" resultType="integer">
		SELECT img FROM imgs WHERE id=#{partnersId}
	</select>

</mapper>