<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プロフィール写真：編集</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/user_table.css}" />

</head>
<body>

<header th:insert="~{common :: header}"></header>

<h3 class="display-4">プロフィール写真編集</h3>

<form th:action="@{/user/mypage/edit/img/}" method="post" enctype="multipart/form-data">

<th:block th:if="${fileCount} < 9">
	<table>
		<tr>
			<td class="upload">
				<span>画像ファイルをアップロード</span>
				<span>ファイル：<input type="file" name="upfile"></span>
				<span><input type="submit" value="アップロード"></span>
			</td>
		</tr>
	</table>
</th:block>
<th:block th:if="${fileCount} >= 9">
	<table>
		<tr>
			<td>
			<span class="attention">プロフィール写真は9枚までです。</span>
			<span class="attention">追加するには削除してください。</span>
			</td>
		</tr>
	</table>
</th:block>


	
<th:block th:each="file, number : ${fileList}">
	<table>
		<tr><td class="update_img_td"><img class="update_img" th:src="@{/imgs/{id}/{img}?{today}(id=${id}, img=${file.name},today=${today})}" width="250px" alt="" /></td></tr>
		<tr><td class="delete_button"><a class="btn btn-danger" th:href="@{/user/mypage/edit/img/delete/{number}(number=${number.count})}">削除</a></td></tr>
	</table>
</th:block>
		

</form>

<table class="up_done_table">
	<tr>
		<td class="up_done_td"><a th:href="@{/user/mypage/edit/}">プロフィール編集へ戻る</a></td>
	</tr>
</table>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>