<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マッチングしている相手</title>
<link rel="stylesheet" th:href="@{/css/matching_list.css}" />
</head>
<body>

<h1>マッチングしている相手</h1>

<h3 th:if="${session.countMatching == 0}">マッチングした人はまだいません</h3>

<th:block th:each="list : ${matchingList}" th:if="${session.countMatching > 0}">
	<table class="user_list">
			<tr>
				<td class="icon_td" rowspan="2">
				<a th:href="@{/search/user/{id}(id=${list.id})}" target="_blank">
					<img th:if="${list.img > 0}" th:src="@{/imgs/{id}/img1.jpg?{today}(id=${list.id}, today=${today})}" alt="" class="icon">
					<img th:if="${list.img == 0}" th:src="@{/img/noimage.jpg}" alt="" height="210px" class="icon">
				</a>
				</td>
				<th class="user_name">
					<a th:href="@{/search/user/{id}(id=${list.id})}" target="_blank">[[${list.name}]]</a>
				</th>
				<td>
					<span th:text="${#dates.format(list.latestMessageTime, 'HH:mm')}"></span>
				</td>
			</tr>
			<tr>
				<td th:if="${list.message == null}">マッチングが成立しました！</td>
				<td th:if="${list.message != null}"><a th:href="@{/user/{id}/message/(id=${list.id})}" target="_blank">[[${list.message}]]</a></td>
				<td th:if="${list.NotReadMessage == 0}"></td>
				<td class="count_message_td" th:if="${list.NotReadMessage != 0}">
					<div class="count_message">[[${list.NotReadMessage}]]</div>
				</td>
			</tr>
		</table>
</th:block>

</body>
</html>