<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>マッチングしている相手</title>
<link rel="stylesheet" th:href="@{/css/search.css}" />
</head>
<body>

<h1>マッチングしている相手</h1>

<th:block th:each="matching : ${matchingList}">
	<table class="user_list">
			<tr>
				<td class="user_list_bg">
				<a th:href="@{/search/user/{id}(id=${matching.id})}" target="_blank">
					<img th:if="${matching.userI.img > 0}" th:src="@{/imgs/{id}/img1.jpg(id=${matching.id})}" alt="" height="210px">
					<img th:if="${matching.userI.img == 0}" th:src="@{/img/noimage.jpg}" alt="" height="210px">
					<span>[[${matching.userBD.age}]]歳 [[${matching.userRD.residenceStr}]]</span> <th:block
						th:if="${matching.userT.oneWord != null}">[[${matching.userT.oneWord}]]</th:block>
				</a>
				</td>
			</tr>
		</table>
</th:block>

</body>
</html>