<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>メッセージ</title>
<link rel="stylesheet" th:href="@{/css/message.css}" />
</head>
<body>

<h1>メッセージ</h1>

<h1>[[${partnersId}]]</h1>

<table class="message_table" >
	<th:block th:each="messages : ${messageList}">
		<tr>
			<td th:if="${messages.fromId != partnersId}"></td>
			<td th:if="${messages.toId != partnersId}" class="message_img_box">
				<img th:if="${partnersImg > 0}" th:src="@{/imgs/{id}/img1.jpg?{today}(id=${partnersId}, today=${today})}" 
					alt="" height="80px" class="message_img">
				<img th:if="${partnersImg == 0}" th:src="@{/img/noimage.jpg}" alt="" height="80px">
			</td>
			
			
			
			<td th:if="${messages.toId != partnersId}" class="partners_message_box">
				<table>
					<tr>
						<td class="message_partners_text">[[${messages.message}]]</td>
						<td class="my_check" th:if="${messages.toId != partnersId}">
							<p th:text="${#dates.format(messages.sentTime, 'HH:mm')}"></p>
						</td>
						<td th:if="${messages.fromId != partnersId}"></td>
					</tr>
				</table>
			</td>
			<td th:if="${messages.fromId != partnersId}"></td>
			
			

			
			
			
			<td th:if="${messages.fromId != partnersId}" class="my_message_box">
				<table class="abc">
					<tr>
						<td th:if="${messages.fromId != partnersId}" class="partners_check">
							<p th:if="${messages.checkedMessage == 1}">既読</p>
							<p th:text="${#dates.format(messages.sentTime, 'HH:mm')}"></p>
						</td>
						<td th:if="${messages.toId != partnersId}">
						</td>
						<td class="message_my_text">[[${messages.message}]]</td>
					</tr>
				</table>
			</td>
			<td th:if="${messages.toId != partnersId}"></td>
		</tr>

	</th:block>
</table>
</body>
</html>