<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>プロフィール：編集</title>

<link rel="stylesheet" th:href="@{/css/user_table.css}" />
</head>
<body>

<form action="" th:object="${user}">

<table>
	<tr><th colspan=2>つぶやき</th></tr>
	<tr><td><input type="text" /></td></tr>
</table>

<table>
	<tr><th colspan=2>コミュニティ</th></tr>
	<tr><td></td></tr>
</table>

<table>
	<tr><th colspan=2>自己紹介文</th></tr>
	<tr><td><textarea name="" id="" cols="30" rows="10"></textarea></td></tr>
</table>
<table>
	<tr><th colspan=2>Partnersプロフィール</th></tr>
	<tr><th>身長</th>
		<td>
			<select th:field="*{userRD.height}" id="">
				<option th:value="1">選択しない</option>
				<option th:value="130">130cm</option>
				<option th:value="131">131cm</option>
				<option th:value="132">132cm</option>
				<option th:value="133">133cm</option>
				<option th:value="134">134cm</option>
				<option th:value="135">135cm</option>
				<option th:value="136">136cm</option>
				<option th:value="137">137cm</option>
				<option th:value="138">138cm</option>
				<option th:value="139">139cm</option>
				<option th:value="140">140cm</option>
				<option th:value="141">141cm</option>
				<option th:value="142">142cm</option>
				<option th:value="143">143cm</option>
				<option th:value="144">144cm</option>
				<option th:value="145">145cm</option>
				<option th:value="146">146cm</option>
				<option th:value="147">147cm</option>
				<option th:value="148">148cm</option>
				<option th:value="149">149cm</option>
				<option th:value="150">150cm</option>
				<option th:value="151">151cm</option>
				<option th:value="152">152cm</option>
				<option th:value="153">153cm</option>
				<option th:value="154">154cm</option>
				<option th:value="155">155cm</option>
				<option th:value="156">156cm</option>
				<option th:value="157">157cm</option>
				<option th:value="158">158cm</option>
				<option th:value="159">159cm</option>
				<option th:value="160">160cm</option>
				<option th:value="161">161cm</option>
				<option th:value="162">162cm</option>
				<option th:value="163">163cm</option>
				<option th:value="164">164cm</option>
				<option th:value="165">165cm</option>
				<option th:value="166">166cm</option>
				<option th:value="167">167cm</option>
				<option th:value="168">168cm</option>
				<option th:value="169">169cm</option>
				<option th:value="170">170cm</option>
				<option th:value="171">171cm</option>
				<option th:value="172">172cm</option>
				<option th:value="173">173cm</option>
				<option th:value="174">174cm</option>
				<option th:value="175">175cm</option>
				<option th:value="176">176cm</option>
				<option th:value="177">177cm</option>
				<option th:value="178">178cm</option>
				<option th:value="179">179cm</option>
				<option th:value="180">180cm</option>
				<option th:value="181">181cm</option>
				<option th:value="182">182cm</option>
				<option th:value="183">183cm</option>
				<option th:value="184">184cm</option>
				<option th:value="185">185cm</option>
				<option th:value="186">186cm</option>
				<option th:value="187">187cm</option>
				<option th:value="188">188cm</option>
				<option th:value="189">189cm</option>
				<option th:value="190">190cm</option>
				<option th:value="191">191cm</option>
				<option th:value="192">192cm</option>
				<option th:value="193">193cm</option>
				<option th:value="194">194cm</option>
				<option th:value="195">195cm</option>
				<option th:value="196">196cm</option>
				<option th:value="197">197cm</option>
				<option th:value="198">198cm</option>
				<option th:value="199">199cm</option>
				<option th:value="200">200cm</option>
			</select>
		</td>
	</tr>
	<tr><th>体型</th>
	<td>
		
	</td></tr>
	<tr><th>血液型</th><td></td></tr>
	<tr><th>居住地</th><td></td></tr>
	<tr><th>出身地</th><td></td></tr>
	<tr><th>職種</th><td></td></tr>
	<tr><th>学歴</th><td></td></tr>
	<tr><th>同居人</th><td></td></tr>
	<tr><th>お酒</th><td></td></tr>
</table>
<table>
	<tr><th colspan=2>詳細プロフィール</th></tr>
	<tr><th>ニックネーム</th><td></td></tr>
	<tr><th>兄弟姉妹</th><td></td></tr>
	<tr><th>学校名</th><td></td></tr>
	<tr><th>職業名</th><td></td></tr>
	<tr><th>年収</th>
	<td>
		<select th:field="*{userRD.annualIncome}" id="">
			<th:block th:each="annual_income : ${annual_incomes}">
			<option th:value="${annual_income.id}" th:selected="${annual_income.id == annualIncomeSelected}">[[${annual_income.annualIncome}]]</option>
			</th:block>
		</select>
	</td></tr>
	<tr><th>結婚歴</th><td></td></tr>
	<tr><th>子供の有無</th><td></td></tr>
	<tr><th>結婚に対する意思</th><td></td></tr>
	<tr><th>子供が欲しいか</th><td></td></tr>
	<tr><th>家事・育児</th><td></td></tr>
	<tr><th>出会うまでの希望</th><td></td></tr>
	<tr><th>デート費用</th><td></td></tr>
	<tr><th>性格・タイプ</th><td></td></tr>
	<tr><th>社交性</th><td></td></tr>
	<tr><th>休日</th>
	<td>
		<select th:field="*{userRD.holiday}" id="">
			<th:block th:each="holiday : ${holidays}">
			<option th:value="${holiday.id}" th:selected="${holiday.id == holidaySelected}">[[${holiday.holiday}]]</option>
			</th:block>
		</select>
	</td></tr>
	<tr><th>タバコ</th><td></td></tr>
	<tr><th>好きなこと・趣味</th><td></td></tr>
	<tr><th>ワクチン接種状況</th><td></td></tr>
	
</table>

</form>

<p><a th:href="@{/user/top}">戻る</a></p>

</body>
</html>