<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Partners</title>
<style>
a{
	text-decoration: none;
	color:#000;
}
.new{
	color:#F00;
}
</style>
</head>
<body>

<h1>Partners - ようこそ！[[${session.user_name}]]さん！- </h1>

<h4><span th:if="${session.newReceivedNice == 1}"><a th:href="@{/user/newReceivedNice}" target="_blank" class="new">いいねが届いています！</a></span></h4>
<h4><span th:if="${session.newMessage == 1}"><a th:href="@{/user/matchingList}" target="_blank" class="new">新しくメッセージが届いています！</a></span></h4>

<h4>残いいね : [[${session.likePoint}]]</h4>

<p><a th:href="@{/user/mypage}" target="_blank">マイページ</a></p>

<p><a th:href="@{/search/}" target="_blank">さがす</a></p>

<p><a th:href="@{/user/matchingList}" target="_blank">マッチングリスト</a></p>

<p><a th:href="@{/user/notMatchingAndSendedNiceList}" target="_blank">自分からのいいね</a></p>

<p><a th:href="@{/user/notMatchingAndReceivedNiceList}" target="_blank">相手からのいいね</a></p>

<p><a th:href="@{/user/favoriteList}" target="_blank">気になる</a></p>

<p><a th:href="@{/user/cameList}" target="_blank">あしあと</a></p>

<p><a th:href="@{/logout}">ログアウト</a></p>


</body>
</html>