<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Partners</title>
<style>
.new{
	color:#F00;
}
</style>
</head>
<body>

<h1>Partners</h1>

<h4><span th:if="${session.newReceivedNice == 1}" class="new"><a th:href="@{/user/newReceivedNice}" target="_blank">いいねが届いています！</a></span></h4>

<h4>残いいね : [[${session.likePoint}]]</h4>

<p><a th:href="@{/user/mypage}" target="_blank">マイページ</a></p>

<p><a th:href="@{/search/}" target="_blank">さがす</a></p>

<p><a th:href="@{/user/matchingList}" target="_blank">マッチングリスト</a></p>

<p><a th:href="@{/user/notMatchingAndReceivedNiceList}" target="_blank">相手からのいいね</a></p>

<p><a th:href="@{/user/favoriteList}" target="_blank">気になる</a></p>

<p><a th:href="@{/logout}">ログアウト</a></p>


</body>
</html>