@charset "UTF-8";
body{
	background-color:#add8e6;
}
a{
	text-decoration: none;
	color:#000;
}
table{
	border-collapse:collapse;
	margin:auto;
	border: 0px solid #FFF;
}
.display-4{
	margin-top:60px;
	margin-bottom:60px;
	text-align:center;
}
.user_list{
	min-width:500px;
	max-width:500px;
	background-color:#FFF;
	margin-bottom: 50px;
	margin-top:50px;
	padding:0px;
	border-radius:8px;
}
.user_list td a{
	display:block;
	width:100%;
	height:100%;
}
.icon{
	width:65px;
	height:65px;
	border-radius:50%;
}
.name{
	font-size:20px;
	font-weight:bold;
}
.age_td{
	width:50px;
}
.hobby{
	font-size:12px;
}
.icon_td{
	width:82px;
	height:82px;
	text-align:center;
	vertical-align: middle;
}
.top_td{
	padding-top:6px;
	height:36px
}
.middle_td{
	height:20px;
	font-size:12px;
}
.bottom_td{
	height:20px;
	font-size:12px;
}
.came_time_td{
	font-size:12px;
	text-align:right;
}
.count_message{
	background: #ec4646;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	margin-left:auto;
	margin-right:auto;
}
.user_list td a{
	width:100%;
	height:100%;
}
.user_list_bg{
	background-color:#FFF;
}
.user_list p{
	margin:0;
}
.detail{
	width:60px;
	height:60px;
}
.detail th{
	text-align:left;
}
.detail div{
	padding-right:15px;	
}
.submit{
	margin-bottom:30px;
}
.nav_link{
	font-size:14px;
	margin:0 10px;
}
header{
	margin-bottom:100px;
}