@charset "UTF-8";
body{
	background-color:#add8e6;
}
a{
	text-decoration: none;
	color:#000;
}
table{
	border-collapse:collapse;
	margin:auto;
}
.display-4{
	margin-top:60px;
	margin-bottom:60px;
	text-align:center;
}
h3{
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
.user_list{
	min-width:500px;
	max-width:500px;
	background-color:#FFF;
	margin-bottom: 50px;
	margin-top:50px;
	padding:0px;
	border-radius:8px;
}
.icon{
	width:50px;
	height:50px;
	border-radius:50%;
}
.message_td{
	max-width:380px;
	min-width:380px;
	min-height:45px;
	max-height:45px;
	padding-bottom:3px;
	 display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    vertical-align:middle;
}
.message_td a{
	max-width:380px;
	min-width:380px;
}
.message_time_td{
	text-align:center;
	vertical-align:middle;
	padding:3px 3px 0px 0px;
}
.user_name{
	text-align:left;
	padding-top:px;
}
.icon_td{
	width:60px;
	height:60px;
	text-align:center;
	vertical-align: middle;
	padding:3px 0px 3px 3px;
}
.count_message{
	background: #ec4646;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	line-height: 25px;
	margin-left:auto;
	margin-right:auto;
}
.count_message_td{
	padding:0px 3px 3px 0px;
}
.user_list td a{
	width:100%;
	height:100%;
}
.user_list_bg{
	background-color:#FFF;
}
.user_list p{
	margin:0;
}
.detail{
	width:60px;
	height:60px;
}
.detail th{
	text-align:left;
}
.detail div{
	padding-right:15px;	
}
.submit{
	margin-bottom:30px;
}
.nav_link{
	font-size:14px;
	margin:0 10px;
}
header{
	margin-bottom:100px;
}
.navbar-brand{
	margin-left:50px;
}