@charset "UTF-8";
body{
	background-color:#add8e6;
	min-width:800px;
}
a{
	text-decoration: none;
	color:#000;
}
img{
	height: 210px;
	width: 210px;
	object-fit: cover;
}
table{
	width:250px;
	border-collapse:collapse;
	margin-left:auto;
	margin-right:auto;
	
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.display-4{
	margin-top:60px;
	margin-bottom:60px;
	text-align:center;
}
h3{
	text-align:center;
}
#table{
	width:937.5px;
}
table div{
	display:inline-block;
}
.user_list{
	margin-bottom: 30px;
}
.user_list span{
	display:block;
}
.user_list td{
	width:100%;
	text-align:center;
	font-size:14px;
	padding:5px;
}
.user_list td a{
	display:block;
	width:100%;
	height:100%;
}
.user_list_bg{
	background-color:#FFF;
	border-radius:10px;
	height:262px
}
.user_list p{
	margin:0;
}
.detail{
	width:80%;
	max-width:600px;
	background-color:#FFF;
	margin-top:100px;
	margin-bottom:100px;
	border-radius:10px;
}
.detail th{
	text-align:left;
	font-size:14px;
}
.detail td{
	font-size:12px;
}
.detail div{
	padding-right:15px;	
}
select{
	margin-bottom:5px;
	padding:2px;
}
.submit{
	margin:15px 0;
}

.submit_td{
	text-align:center;
}
.detail th{
	padding:10px 10px 0px;
}
.detail td{
	padding:0 10px;
}
.unimplemented{
	color:#CCC;
}
.nav_link{
	font-size:14px;
	margin:0 10px;
}
header{
	margin-bottom:100px;
}







