@charset "UTF-8";
body{
	background-color:#add8e6;
	min-width:800px;
}
a{
	text-decoration: none;
	color:#000;
}
th{
	padding:0 10px;
	
}
td{
	padding:0 10px;
	width:auto;
}

table{
	margin-top: 30px;
	margin-bottom: 30px;
	border-collapse:collapse;
	margin-right:auto;
	margin-left:auto;
	background-color:#FFF;
	width:350px;
	border-radius:10px;
}
.main_img_td{
	text-align:center;
	vertical-align:middle;
	width:330px;
	height:330px;
	padding-top:10px;
	padding-bottom:5px;
}
.main_img{
	width:330px;
	height:330px;
	object-fit: cover;
}
.sub_img{
	width:79px;
	height:79px;
	object-fit: cover;
}
h3{
	margin-bottom:20px;
	text-align:center;
}
.display-4{
	margin-top:40px;
	margin-bottom:20px;
}
.update_link{
	text-align:center;
}
.bottom_td{
	padding-bottom:10px;
}
.top_th{
	padding-top:10px;
}
.bottom-th{
	padding-bottom:10px;
}
input{
	width:96%;
	margin-right:10px;
}
select{
	width:100%;
}
textarea{
	width:330px;
	resize: none;
}