<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>

<h1>ログイン</h1>

<form th:action="@{/login}" method="post" th:object="${user}">

<p th:errors="*{loginId}" class="error"></p>


<p>メールアドレス:
<input type="text" th:field="*{loginId}"/></p>

<input type="submit" value="送信する"/>
<p>※ 送信ボタンを押してからページが切り替わるまで少し時間がかかります。
ページが自動で切り替わるまでそのままお待ちください。</p>

<p><a th:href="@{/}">トップページへ戻る</a></p>

</form>
</body>
</html>