<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 : タバコ</title>
</head>
<body>
<h1>ユーザー登録 : タバコ</h1>

<form action="" method="post" th:object="${userRD}">
	<p>
	<select th:field="*{smoking}" id="">
	<th:block th:each="smoking : ${smokings}">
		<option th:value="${smoking.id}">[[${smoking.smoking}]]</option>
	</th:block>
	</select>
	</p>
	
	<button type="button" onclick="location.href='/regist/holiday'">戻る</button>
	<input type="submit" value="次へ"/>
	
</form>

</body>
</html>