<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 : 性別</title>
</head>
<body>
<h1>ユーザー登録 : 性別</h1>
<form action="" method="post" th:object="${user}">

<p><input type="radio" th:field="*{sex}" value="1" id="male"/><label for="male">男性</label></p>
<p><input type="radio" th:field="*{sex}" value="2" id="female"/><label for="female">女性</label></p>

<button type="button" onclick="location.href='/regist/top'">戻る</button> 
<input type="submit" value="次へ"/>
</form>
</body>
</html>