<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link rel="stylesheet" th:href="@{/css/error.css}" />
<style>
	.number{width:20px;}
</style>
</head>
<body>
<h1>ログイン</h1>

<th:block th:if="${session.authFailed}"><p class="error">※ 認証コードが間違っています</p></th:block>

<p>コードを入力してください</p>
<p>届いたメメールに記載されているコードを入力してください。</p>

<form th:action="@{/login/loginAuth}" method="post" th:object="${loginRandomInt}">

<input type="text" class="number" th:field="*{Random6of1}"/> 
<input type="text" class="number" th:field="*{Random6of2}"/> 
<input type="text" class="number" th:field="*{Random6of3}"/> 
<input type="text" class="number" th:field="*{Random6of4}"/> 
<input type="text" class="number" th:field="*{Random6of5}"/> 
<input type="text" class="number" th:field="*{Random6of6}"/> 

<p><input type="submit" value="ログイン"/></p>

</form>
<p><a th:href="@{/}">トップへ戻る</a></p>

</body>
</html>