<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 : 身長</title>
</head>
<body>
	<h1>ユーザー登録 : 身長</h1>

	<form th:action="@{/regist/height}" method="post" th:object="${userRD}">

		<p>
			<select th:field="*{height}" id="">
				<option th:value="1">選択しない</option>
				<option th:value="130">130</option>
				<option th:value="131">131</option>
				<option th:value="132">132</option>
				<option th:value="133">133</option>
				<option th:value="134">134</option>
				<option th:value="135">135</option>
				<option th:value="136">136</option>
				<option th:value="137">137</option>
				<option th:value="138">138</option>
				<option th:value="139">139</option>
				<option th:value="140">140</option>
				<option th:value="141">141</option>
				<option th:value="142">142</option>
				<option th:value="143">143</option>
				<option th:value="144">144</option>
				<option th:value="145">145</option>
				<option th:value="146">146</option>
				<option th:value="147">147</option>
				<option th:value="148">148</option>
				<option th:value="149">149</option>
				<option th:value="150">150</option>
				<option th:value="151">151</option>
				<option th:value="152">152</option>
				<option th:value="153">153</option>
				<option th:value="154">154</option>
				<option th:value="155">155</option>
				<option th:value="156">156</option>
				<option th:value="157">157</option>
				<option th:value="158">158</option>
				<option th:value="159">159</option>
				<option th:value="160">160</option>
				<option th:value="161">161</option>
				<option th:value="162">162</option>
				<option th:value="163">163</option>
				<option th:value="164">164</option>
				<option th:value="165">165</option>
				<option th:value="166">166</option>
				<option th:value="167">167</option>
				<option th:value="168">168</option>
				<option th:value="169">169</option>
				<option th:value="170">170</option>
				<option th:value="171">171</option>
				<option th:value="172">172</option>
				<option th:value="173">173</option>
				<option th:value="174">174</option>
				<option th:value="175">175</option>
				<option th:value="176">176</option>
				<option th:value="177">177</option>
				<option th:value="178">178</option>
				<option th:value="179">179</option>
				<option th:value="180">180</option>
				<option th:value="181">181</option>
				<option th:value="182">182</option>
				<option th:value="183">183</option>
				<option th:value="184">184</option>
				<option th:value="185">185</option>
				<option th:value="186">186</option>
				<option th:value="187">187</option>
				<option th:value="188">188</option>
				<option th:value="189">189</option>
				<option th:value="190">190</option>
				<option th:value="191">191</option>
				<option th:value="192">192</option>
				<option th:value="193">193</option>
				<option th:value="194">194</option>
				<option th:value="195">195</option>
				<option th:value="196">196</option>
				<option th:value="197">197</option>
				<option th:value="198">198</option>
				<option th:value="199">199</option>
				<option th:value="200">200</option>
			</select>
		</p>

		<button type="button" onclick="location.href='/regist/name'">戻る</button>
		<input type="submit" value="次へ"/>
	</form>

</body>
</html>