<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 : 休日</title>
</head>
<body>
<h1>ユーザー登録 : 休日</h1>

<form th:action="@{/regist/holiday}" method="post" th:object="${userRD}">
	<p>
	<select th:field="*{holiday}" id="">
	<th:block th:each="holiday : ${holidays}">
		<option th:value="${holiday.id}">[[${holiday.holiday}]]</option>
	</th:block>
	</select>
	</p>
	
	<button type="button" onclick="location.href='/regist/desire_to_marry'">戻る</button>
	<input type="submit" value="次へ"/>
	
</form>

</body>
</html>