<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ユーザー登録 : ニックネーム</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" th:href="@{/css/regist.css}" />
</head>
<body>

<div class="title_div"><span class="title display-6">ニックネームを入力してください</span></div>

<form th:action="@{/regist/name}" method="post" th:object="${userBD}" name="regist">

<input type="hidden" name="age" th:value="20"/>
<input type="hidden" name="sex" th:value="1"/>
<input type="hidden" name="year" th:value="2000"/>
<input type="hidden" name="month" th:value="1"/>
<input type="hidden" name="day" th:value="1"/>

<table class="error_table" th:if="${#fields.hasErrors('name')}">
	<tr>
		<td class="error_td">
			<span class="error" th:errors="*{name}">aaa</span>
		</td>
	</tr>
</table>

<table class="regist_input">
	<tr>
		<td class="input_td">
			<input class="input display-6" type="text" name="name"  th:value="${session.regist_name}" />
		</td>
	</tr>
</table>

<table class="next_back">
	<tr>
		<td class="back">
			<a th:href="@{/regist/birthday}"><img class="icon_next_back" th:src="@{/imgs/regist/icon_back.png}" alt=""></a>
		</td>
		<td class="next_back_center"></td>
		<td class="next">
			<a href="javascript:document.regist.submit()"><img class="icon_next_back" th:src="@{/imgs/regist/icon_next.png}" alt=""></a>
		</td>
	</tr>
</table>

</form>

<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>